.active {
  text-decoration: none;
  display: block;
  border-radius: 10px;
  border: 5px solid rgb(187, 192, 212);
  padding: 5px;
  background-color: rgb(13, 90, 126);
}
body{
  background-image:url("pictures/photo-1489875347897-49f64b51c1f8.jpg");
  background-size: cover;
  background-color: rgb(101, 103, 112, 0.9);
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: rgb(252, 227, 8);
  font-family: 'Sansita Swashed', cursive;
  font-size: 30px;
  text-align: center;
  --animate-delay: 1s;
}
h2{
  color: rgb(106, 179, 243);
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  
}
h3{
  color:  rgb(106, 179, 243);
  font-family: 'Oswald', sans-serif;
  margin-right: 150px;
  
}
.saudacao{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding: 5px;*/
}
.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.image_perfil img {

  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 20px;
  padding: 1%;
  border-color: black;
  display: block;
  border: 5px solid rgb(243, 239, 8);
}

.links{
display: flex;
justify-content: space-between;
font-size: 16px;
padding: 8px;
list-style: none;
margin: 10px;
} 
.links li a {
text-decoration: none;
display: block;
border-radius: 10px;
border: 5px solid rgb(8, 15, 44);
padding: 5px;
color: white;
background-color: rgb(101, 103, 112, 0.7);
}
.links .icone{
font-size: 30px;
color: rgb(147, 252, 252);
}
.links li {
margin: 1.5cm; 
}
  
  @media (min-width: 750px){
    body{

      background-image:url("pictures/photo-1489875347897-49f64b51c1f8.jpg");
      background-size: cover;
    
    
    }
    .card{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1px;

    }

    h1{
      color: rgb(224, 104, 17);
      font-family: 'Sansita Swashed', cursive;
      font-size: 50px;
      text-align: center;
      --animate-delay: 1s;
    }
    h2{
      color: seashell;
      font-family: 'Oswald', sans-serif;
      font-size: 40px;
      
    }
    h3{
      color: seashell;
      font-family: 'Oswald', sans-serif;
      margin-right: 190px;
      
    }
    .saudacao{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .perfil {
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .image_perfil img {

      height: 180px;
      width: 180px;
      border-radius: 50%;
      margin: 25px;
      padding: 5%;
      border-color: black;
      border: 7px solid seashell;
      
  }

  .socialMedia{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;
    list-style: none;
    margin: 2px;
    height: 2px;
    background-color: white (177, 146, 10, 0.555);

  } 
  .socialMedia li a {
    text-decoration: none;
    border-radius: 10px;
    border: 5px solid rgb(82, 112, 247);
    padding: 5px;
    color: white;
    background-color: rgb(101, 103, 112, 0.9);
  }
  .socialMedia .icone{
    font-size: 40px;
    color: azure;
  }

}